<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetGram</title>
    <link rel="stylesheet" type="text/css"
          media="screen" href='{% static "styles/main.css" %}'>

    <link rel="stylesheet" type="text/css"
          media="screen" href='{% static "styles/login.css" %}'>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/account.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/delete.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profile_form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/user-profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/profiles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/pagination.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/projects.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/single-project.css' %}">


</head>
<body>

    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

<!--    {% if messages %}-->

<!--    {% for message in messages%}-->
<!--    <div class="alert">-->
<!--        <p class="alert_message">{{message}}</p>-->
<!--        <button class="alert_close">x</button>-->
<!--    </div>-->

<!--    {% endfor %}-->

<!--    {% endif %}-->

    {% block content %}

    {% endblock content%}

    {% include 'footer.html' %}
</body>
<script src="{% static 'js/style.js' %}"></script>
<script src="{% static 'js/readmore.js' %}"></script>
</html>