{% extends 'main.html' %}

{% block content %}
{{page}}

<h1 class="projects1__title">Posts</h1>

<div class="projects1__search">
    <form id="searchForm" class="form1" action="{% url 'projects' %}" method="get">
        <div class="form1__field">
            <label for="formInput#search">Search By Projects</label>
            <input class="input1 input--text" id="formInput#search" type="text" name="search_query"
                   placeholder="Search by Post Title" value="{{search_query}}"/>
        </div>

        <input class="btn1" type="submit" value="Search" />
    </form>
</div>

{% for project in projects %}

<div class="projects1__post">
    <a href="{% url 'project' project.id %}" class="post1__link">
        <img class="post1__image" src="{{ project.featured_image.url }}" alt="project_image">
    </a>
    <div class="post1__details">
        <a href="{% url 'project' project.id %}" class="post1__title">{{project.title}}</a>
        <div class="post1__meta">
            <span class="post1__ratio">{{project.vote_ratio}}%</span>
            <span class="post1__votes">{{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}}</span>
            <span class="post1__created">{{project.created}}</span>
        </div>
        <a href="{% url 'user-profile' project.owner.id %}" class="post1__owner">{{project.owner.name}}</a>
        <div class="post1__tags">
            {% for tag in project.tags.all %}
            <span class="tag1">{{tag}}</span>
            {% endfor %}
        </div>
        <div class="post1__description">
            {{project.description}}
        </div>
        <button class="read-more-button">Read more</button>
    </div>
</div>

{% endfor %}

{% include 'pagination.html' with queryset=projects custom_range=custom_range %}

{% endblock %}

